/* HABILIDADES */
.habilidades {
    background-color: #fffafa;
}

.habilidades .container-habilidades {    
    text-align: center;    
    display: flex;
    justify-content: center;    
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

.habilidades .container h2 {
    color: #564412;
}

.habilidades .container-habilidades .informacoes{
    max-width: 350px;
    padding: 40px 20px;    
}

.habilidades .container-habilidades .informacoes .logo i{
    transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -webkit-transition: all .3s ease;
    font-size: 8rem;
}

.habilidades .container-habilidades .informacoes:hover .logo i{
    color: #fff;
}