.sobre-mim {
    background-color: #564412;
}

/* .sobre-mim .imagem-sobre-mim {    
    max-width: 40%;
    padding: 0 15px;
}

.sobre-mim .imagem-sobre-mim .img-box {
    padding: 15px;
    text-align: center;
}

.sobre-mim .imagem-sobre-mim img {
    border-radius: 8px;
} */

.sobre-mim .informacoes-sobre-mim { 
    display: flex;
    flex-direction: column;
    align-items: center;  
    justify-content: center;  
    margin: 0 auto;
    width: 90%;
}

.sobre-mim .informacoes-sobre-mim .botoes {
    margin-top: 20px;
    font-weight: 500;
}

.sobre-mim .informacoes-sobre-mim p:first-child {
    font-size: 2rem;
}

.sobre-mim .informacoes-sobre-mim p {
    font-size: 1.8rem;
    font-weight: 400;
    margin-bottom: 10px;
    line-height: 1.9;
    text-align: center;
}

.sobre-mim .informacoes-sobre-mim .atividades,
.sobre-mim .informacoes-sobre-mim .resultados {
    font-size: 1.8rem;
    font-weight: 400;
    padding-bottom: 10px;
    text-align: center;
}

.sobre-mim .informacoes-sobre-mim .atividades li,
.sobre-mim .informacoes-sobre-mim .resultados li {
    line-height: 1.8;
}

.sobre-mim .informacoes-sobre-mim .atividades li::before {
    content: "⚡ ";
}

.sobre-mim .informacoes-sobre-mim .resultados li::before {
    content: "🚀 ";
}

@media(max-width: 1280px) { 
    .sobre-mim .row{
        justify-content: center;
    }

    /* .sobre-mim .imagem-sobre-mim {        
        max-width: 100%;
        padding: 0 var(--mobile-padding);
        margin-bottom: 50px;
    } */

    .sobre-mim .informacoes-sobre-mim {  
        padding: 0 var(--mobile-padding);
        text-align: center;
    }

    .sobre-mim .imagem-sobre-mim .inner-shadow {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
}

@media(max-width:768px){
    .sobre-mim .informacoes-sobre-mim {  
        max-width: 100%;                   
    }

    .sobre-mim .informacoes-sobre-mim p:first-child {
        font-size: 1.8rem;
    }

    .sobre-mim .informacoes-sobre-mim p,
    .sobre-mim .informacoes-sobre-mim .atividades,
    .sobre-mim .informacoes-sobre-mim .resultados {
        font-size: 1.4rem;
    }
}